In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('main_dataset.csv')
df.head()

,image,name,author,format,book_depository_stars,price,currency,old_price,isbn,category,img_paths
0,https://d1w7fb2mkkr3kw.cloudfront.net/assets/i...,This is Going to Hurt,Adam Kay,Paperback,4.5,7.6,$,11.4,9781509858637,Medical,dataset/Medical/0000001.jpg
1,https://d1w7fb2mkkr3kw.cloudfront.net/assets/i...,"Thinking, Fast and Slow",Daniel Kahneman,Paperback,4.0,11.5,$,15.0,9780141033570,Medical,dataset/Medical/0000002.jpg
2,https://d1w7fb2mkkr3kw.cloudfront.net/assets/i...,When Breath Becomes Air,Paul Kalanithi,Paperback,4.5,9.05,$,11.5,9781784701994,Medical,dataset/Medical/0000003.jpg
3,https://d1w7fb2mkkr3kw.cloudfront.net/assets/i...,The Happiness Trap,Russ Harris,Paperback,4.0,8.34,$,13.9,9781845298258,Medical,dataset/Medical/0000004.jpg
4,https://d1w7fb2mkkr3kw.cloudfront.net/assets/i...,Man's Search For Meaning,Viktor E. Frankl,Paperback,4.5,9.66,$,NaN,9781846041242,Medical,dataset/Medical/0000005.jpg

In [3]:
print(df['format'].unique())

['Paperback' 'Hardback' nan 'Spiral bound' 'Mixed media product' 'Cards'
 'Fold-out book or chart' 'CD-Audio' 'Book' 'Sheet music' 'Game'
 'Board book' 'Bath book' 'Notebook / blank book' 'Postcard book or pack'
 'Calendar' 'Leather / fine binding' 'Diary' 'Novelty book' 'Loose-leaf'
 'DVD video' 'CD-ROM' 'Boxed Set' 'Pamphlet' 'Sheet map'
 'Sheet map, folded' 'Toy' 'General merchandise' 'Other merchandise'
 'Miscellaneous print' 'Address book' 'Multiple copy pack']

In [4]:
only_format = df['format']

In [5]:
only_format

0        Paperback
1        Paperback
2        Paperback
3        Paperback
4        Paperback
           ...
32576    Paperback
32577    Paperback
32578    Paperback
32579     Hardback
32580     Hardback
Name: format, Length: 32581, dtype: object

In [6]:
df['format'].fillna('NA', inplace=True)
print(df['format'].isnull().sum())

0

In [7]:
df['format'] = df['format'].apply(lambda x: str(x).replace('/', '').lower())

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   image                  32581 non-null  object
 1   name                   32581 non-null  object
 2   author                 32383 non-null  object
 3   format                 32581 non-null  object
 4   book_depository_stars  32581 non-null  float64
 5   price                  32581 non-null  object
 6   currency               32581 non-null  object
 7   old_price              27467 non-null  float64
 8   isbn                   32581 non-null  int64
 9   category               32581 non-null  object
 10  img_paths              32581 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 2.7+ MB

In [9]:
import re

str_case = r"[^\d.]+"
df['price']=df['price'].apply(lambda x: re.sub(str_case, "", str(x)) if re.search(str_case, str(x)) else str(x))

In [10]:
df['price'] = df['price'].astype('float64')
df['currency'] = df['currency'].astype('category')
df['category'] = df['category'].astype('category')

In [11]:
import re 
fallacies = []
for _, row in df.iterrows():
    price = row['price']
    if re.search(str_case, str(price)):
        # print(f"Price contains non-numeric characters: {price}")
        fallacies.append(price)
print(f"Total fallacies found: {len(fallacies)}")

Total fallacies found: 0

In [13]:
df["img_paths"] = df["img_paths"].apply(lambda x: str(x).replace("dataset/", ""))

In [14]:
df.columns

Index(['image', 'name', 'author', 'format', 'book_depository_stars', 'price',
       'currency', 'old_price', 'isbn', 'category', 'img_paths'],
      dtype='object')

In [ ]:
df.drop(columns=["image", 'format', "old_price"], axis=1)
df['price'].astype('float64')

0         7.60
1        11.50
2         9.05
3         8.34
4         9.66
         ...
32576    15.52
32577    14.26
32578    43.12
32579    20.84
32580    21.40
Name: price, Length: 32581, dtype: float64